.header {
    width: 100%;
    background-color: #050505;
    border-bottom: 1px solid #222;
}

.top-header {
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 30px;
    gap: 30px;
}

.logo-header {
    width: 140px;
    cursor: pointer;
}

.barra-pesquisa {
    flex: 1;
    max-width: 650px;

    display: flex;
    align-items: center;

    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.barra-pesquisa input {
    flex: 1;
    border: none;
    outline: none;

    padding: 14px;
    font-size: 15px;
}

.barra-pesquisa button {
    border: none;
    background: #c5b100;

    width: 60px;
    height: 50px;

    cursor: pointer;
}

.acoes-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icone-header {
    background: none;
    border: none;

    color: white;
    cursor: pointer;
    transition: .2s;
}

.icone-header:hover {
    color: #c5b100;
}

.menu-header {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    background-color: #0c0c0c;
}

.menu-header a {
    text-decoration: none;
    color: white;

    font-weight: 500;
    transition: .2s;
}

.menu-header a:hover {
    color: #c5b100;
}

@media (max-width: 768px) {

    .top-header {
        flex-direction: column;
        padding: 15px;
    }

    .barra-pesquisa {
        width: 100%;
    }

    .menu-header {
        overflow-x: auto;
        justify-content: flex-start;
        padding: 0 20px;
    }
}